body{
    font-family:monospace;
}
ul {
    font-family:helvetia;
}
li {

    list-style: circle;
    
    }
    
    .list {
    
    list-style: square;
    
    }
    
    #msg {
    
    font-family: monospace;
    
    }
    .light-theme {

        color: #1f0bd2;
        
        background: #00fbff;
        
        }